<div class="card card-min-width-512 width-full">
  <div class="row">
    <div class="col-md-12">
      <h3>
        {{this.business.identification.name}}
        <!--<p *ngIf="!forecasts"><em>Loading...</em></p>-->
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

      <button *ngIf="this.isOwner || (this.role && this.role.includes('ADMIN'))" type="button" class="btn btn-primary width-full margin-bottom-large" id="btnSave" (click)="editBusiness()">Edit</button>

      <button *ngIf="this.isOwner" type="button" class="btn btn-primary width-full margin-bottom-large" id="btnSave" (click)="disableBusiness()">Delete</button>

      <button *ngIf="this.role && this.role.includes('ADMIN')" type="button" class="btn btn-primary width-full" id="btnSave" (click)="enableBusiness()">Enable</button>
      <button *ngIf="this.role && this.role.includes('ADMIN')" type="button" class="btn btn-primary width-full" id="btnSave" (click)="disableBusiness()">Disable</button>
      <button *ngIf="this.role && this.role.includes('ADMIN')" type="button" class="btn btn-primary width-full margin-bottom-large" id="btnSave" (click)="deleteBusiness()">Delete</button>

      <img *ngIf="business.identification && business.identification.logoPath" src="{{this.imagesUrl + business.identification.logoPath}}" width="125" height="80">
    </div>
    <div class="col-md-8">
      <p>Disabled: {{this.business.disabled}}</p>

      <p>Business ID: {{this.business.id}}</p>

      <p *ngIf="business.identification && business.identification.name">Name: {{this.business.identification.name}}</p>

      <p *ngIf="business.identification && business.identification.type">Type of Business: {{this.business.identification.type}}</p>

      <p *ngIf="business.identification && business.identification.tva">Numero TVA: {{this.business.identification.tva}}</p>

      <p *ngIf="business.identification && business.identification.description">Description: {{this.business.identification.description}}</p>

      <p *ngIf="business.identification && business.identification.postalCode">Postal code: {{this.business.identification.postalCode}}</p>

      <p *ngIf="business.identification && business.identification.country">Country: {{this.business.identification.country}}</p>

      <p *ngIf="business.identification && business.identification.street">Street: {{this.business.identification.street}}</p>

      <p *ngIf="business.identification && business.identification.boxNumber">Box Number: {{this.business.identification.boxNumber}}</p>

      <hr class="margin-top-medium margin-bottom-medium" />

      <p *ngIf="business.businessInfo && business.businessInfo.emailPro">Email: {{this.business.businessInfo.emailPro}}</p>

      <p *ngIf="business.businessInfo && business.businessInfo.phone">Name: {{this.business.businessInfo.phone}}</p>

      <p *ngIf="business.businessInfo && business.businessInfo.urlSite">Website Url: {{this.business.businessInfo.urlSite}}</p>

      <p *ngIf="business.businessInfo && business.businessInfo.urlInstagram">Instagram Link: {{this.business.businessInfo.urlInstragram}}</p>

      <p *ngIf="business.businessInfo && business.businessInfo.urlFacebook">Facebook Url: {{this.business.businessInfo.urlFaceBook}}</p>

      <p *ngIf="business.businessInfo && business.businessInfo.urlLinkedin">Linkedin url: {{this.business.businessInfo.urlLinkedin}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img mat-card-image>

      <img mat-card-image *ngIf="business.businessInfo && business.businessInfo.photoPath1" src="{{this.imagesUrl + business.businessInfo.photoPath1}}" width="512" height="360">
      <img *ngIf="business.businessInfo && business.businessInfo.photoPath2" src="{{this.imagesUrl + business.businessInfo.photoPath2}}" width="512" height="360">
      <img *ngIf="business.businessInfo && business.businessInfo.photoPath3" src="{{this.imagesUrl + business.businessInfo.photoPath3}}" width="512" height="360">
      <img *ngIf="business.businessInfo && business.businessInfo.photoPath4" src="{{this.imagesUrl + business.businessInfo.photoPath4}}" width="512" height="360">
      <img *ngIf="business.businessInfo && business.businessInfo.photoPath5" src="{{this.imagesUrl + business.businessInfo.photoPath5}}" width="512" height="360">
    </div>
  </div>
</div>
