<h3>User Overview</h3>

<div class="card-row card-min-width-512 width-full">

  <div class="card-input card-column-15 height-fit-content margin-right-medium">

    <label for="type">Role type:</label>
    <mat-form-field *ngIf="this.userManagerService.userTypes" appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select>
        <mat-option [value]="none" (click)="this.setUserType(null)">
          None
        </mat-option>
        <mat-option *ngFor="let role of this.userManagerService.userRoles" [value]="role" (click)="this.setRole(role)">
          {{role.charAt(0).toUpperCase() + role.slice(1).toLowerCase()}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="!this.userManagerService.userRoles">Unavailable</p>

    <label for="name">Name:</label>
    <input bis-input id="name" type="text" [(ngModel)]="this.name" (keydown.enter)="userList.refresh()">
    <button type="button" class="btn btn-primary btn-sm" id="btnSearch" (click)="userList.refresh()">Search</button>
  </div>

  <app-user-list class="card-column-85"
                     #userList
                     [role]="this.role"></app-user-list>


</div>
