/* You can add global styles to this file, and also import other style files */

/*/@import url('c:\users\bigif\.nuget\packages\bootstrap\4.5.0\contentfiles\any\any\wwwroot\css\bootstrap.css');
@import url('c:\users\bigif\.nuget\packages\bootstrap\4.5.0\contentfiles\any\any\wwwroot\css\bootstrap.min.css');*/
@import '~ngx-toastr/toastr.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";



/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.section-small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-input {
  margin-top: 1rem;
  padding: 1rem;
  outline: solid thin;
  outline-color: lightgrey;
  display: grid;
  margin-bottom: 1rem;
}
.card-min-width-512 {
  min-width: 512px;
}
.card-input > label {
  margin-top: 1rem;
  margin-bottom: 0;
}
.margin-top-none {
  margin-top: 0 !important;
}
.margin-right-medium {
  margin-right: 1rem;
}
.card-input > button {
  margin-top: 1rem;
  margin-bottom: 0;
}
.btn-save {
  color: black;
  border: solid 1px lightgreen;
  background-color: #ccffcc
}

.toast-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.toast-container > .ngx-toastr {
  right: 0;
  bottom: 0;
  /*position: absolute;*/
  margin-top: 1rem;
  margin-left: 1rem;
}

.card {
  margin-top: 1rem;
  padding: 1rem;
  outline: solid thin;
  outline-color: lightgrey;
  display: grid;
  margin-bottom: 1rem;
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}
.display-table {
    display: table;
}
.clickable {
  cursor: pointer;
}
.border-red {
  border-color: red;
}
.text-small {
  font-size: 0.5rem;
}
.text-red {
  color: red !important;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: lightgrey;
  height: 1px;
}
.width-full {
  width: 100%;
}
.width-50 {
  width: 50%;
}
.card-row {
  display: flex;
}
.card-column-50 {
  flex: 50%;
}
.card-column-15 {
  flex: 15%;
  /*min-width: 15%;*/
}
.card-column-85 {
  flex: 85%;
  /*min-width: 85%;*/
}
.height-fit-content {
  height: fit-content;
}
