/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.section-small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-input {
  margin-top: 1rem;
  padding: 1rem;
  outline: solid thin;
  outline-color: lightgrey;
  display: grid;
}
.card-input > label {
  margin-top: 1rem;
  margin-bottom: 0;
}
.card-input > input {
}

