/* You can add global styles to this file, and also import other style files */

/*/@import url('c:\users\bigif\.nuget\packages\bootstrap\4.5.0\contentfiles\any\any\wwwroot\css\bootstrap.css');
@import url('c:\users\bigif\.nuget\packages\bootstrap\4.5.0\contentfiles\any\any\wwwroot\css\bootstrap.min.css');*/
@import '~ngx-toastr/toastr.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.section-small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-input {
  margin-top: 1rem;
  padding: 1rem;
  outline: solid thin;
  outline-color: lightgrey;
  display: grid;
  width: 50%;
  min-width: 512px;
}
.card-input > label {
  margin-top: 1rem;
  margin-bottom: 0;
}
.card-input > button {
  margin-top: 1rem;
  margin-bottom: 0;
}
.btn-save {
  color: black;
  border: solid 1px lightgreen;
  background-color: #ccffcc
}
.card-input > input {
}
.toast-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.toast-container > .ngx-toastr {
  right: 0;
  bottom: 0;
  /*position: absolute;*/
  margin-top: 1rem;
  margin-left: 1rem;
}

.card {
  margin-top: 1rem;
  padding: 1rem;
  outline: solid thin;
  outline-color: lightgrey;
  display: grid;
  width: 50%;
  min-width: 512px;
}
.card-table {
  margin-top: 1rem;
  padding: 1rem;
  outline: solid thin;
  outline-color: lightgrey;
  display: grid;
  width: 100%;
  min-width: 512px;
}
.display-table {
    display: table;
}
.clickable {
  cursor: pointer;
}
