<h1>Create Account</h1>

<p>Please fill in all the required fields.</p>

<!--<p *ngIf="!forecasts"><em>Loading...</em></p>-->

<div class="card-input">

  <label for="email">Email Address:</label>
  <input id="email" type="email" [(ngModel)]="this.user.email">

  <label for="password">Password:</label>
  <input id="password" type="password" [(ngModel)]="this.user.password">

  <hr />

  <label for="name">Name:</label>
  <input id="name" type="text" [(ngModel)]="this.user.name">

  <label for="surname">Surname:</label>
  <input id="surname" type="text" [(ngModel)]="this.user.surname">

  <label for="phone">Phone Number:</label>
  <input id="phone" type="text" [(ngModel)]="this.user.phone">

  <label for="gender">Gender:</label>
  <mat-form-field *ngIf="this.businessManagerService.userGenders" appearance="fill">
    <mat-label>Gender</mat-label>
    <mat-select>
      <mat-option *ngFor="let gender of this.businessManagerService.userGenders" [value]="gender" (click)="this.setUserGender(gender)">
        {{gender.charAt(0).toUpperCase() + gender.slice(1).toLowerCase()}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p *ngIf="!this.businessManagerService.userGenders">Unavailable</p>

  <label for="birthday">Birthday:</label>
  <input id="birthday" type="date" [(ngModel)]="this.user.birthday">

  <label for="professional">Professional:</label>
  <input id="professional" type="checkbox" [(ngModel)]="this.user.professional">

  <button class="btn-save" id="btnSave" (click)="onClickSave()">Save</button>

</div>
