<h1>Projet Web 2019-20 - Scope du projet</h1>

<p *ngIf="this.name">
  Hello {{this.name}}
</p>

<p>
  Mettre en place un website publique avec authentification et rôles utilisant un backend composé d’api en .net core 3.1.
  <br /><br />
  Le but du website est de permettre à des gestionnaires de bar, boîte de nuit, salle de concert, cercle étudiant de se créer un compte sur le site et d’inscrire un ou plusieurs établissements.
  <br />
  Un administrateur doit valider les établissements avant qu’ils puissent apparaitre de manière publique pour un utilisateur non loggé.
</p>
