<h1>Create Business</h1>

<p>Please fill in all the required fields.</p>

<!--<p *ngIf="!forecasts"><em>Loading...</em></p>-->

<div class="card-input">

  <label for="name">Name:</label>
  <input bis-input id="name" type="text" [(ngModel)]="this.business.name">

  <label for="email">Email:</label>
  <input bis-input id="email" type="email" [(ngModel)]="this.business.email">

  <label class="image-upload-container btn btn-bwm">
    <span>Select Image</span>
    <input #imageInput
           type="file"
           accept="image/*"
           (change)="processFile(imageInput)">
  </label>

  <button class="btn-save" id="btnSave" (click)="onClickSave()">Save</button>

</div>
